<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panel Meteorológico</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <h1>Consulta el clima actual</h1>
    <form method="POST">
        <input type="text" name="ciudad" placeholder="Ingresa el nombre de la ciudad" required>
        <button type="submit">Obtener clima</button>
    </form>
    {% if temperatura %}
        <p>{{ temperatura }}</p>
    {% endif %}
</body>
</html>