body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

.form-inline {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item span {
    flex-grow: 1;
}

.list-group-item .btn {
    margin-left: 10px;
}